* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-200: rgb(254, 241, 241);
  --red-400: rgb(255, 98, 87);
  --slate-400: rgb(146, 148, 160);
  --slate-700: rgb(54, 56, 78);
  --slate-800: rgb(36, 39, 66);
  --white: rgb(255, 255, 255);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--slate-800);
  color: var(--slate-800);

  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

picture,
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

input {
  border: 1px solid transparent;
  outline: none;
  border-radius: 0.5rem;
  background: transparent;
}

button {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.signup-section {
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--white);
}

.illustration img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.form-content {
  padding: 2.25rem 1.5rem 2.5rem;
}

.form-content h1,
.success-section h2 {
  font-size: 2.375rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 1.25rem;
}

.form-content p,
.success-section p {
  font-size: 1rem;
}

.update-list {
  margin: 1.5rem 0 2.5rem;
}

.update-list li {
  font-size: 1rem;
  padding-left: 2.25rem;
  margin-bottom: 0.75rem;
  background: url("../images/icon-list.svg") no-repeat center left;
}

.update-list li:last-child {
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.form-group label,
.form-group span {
  font-size: 0.75rem;
  font-weight: 700;
}

.form-group span {
  color: var(--red-400);
  visibility: hidden;
}

.warning span {
  visibility: visible;
}

.form-group input {
  flex: 1 100%;
  border-color: var(--slate-400);
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
}

.form-group input::placeholder,
.form-group input::-webkit-input-placeholder,
.form-group input::-moz-placeholder {
  color: var(--slate-400);
  opacity: 1;
}

.form-group input:focus {
  border-color: var(--slate-700);
}

.warning input,
.warning input:focus {
  border-color: var(--red-400);
  color: var(--red-400);
  background-color: var(--red-200);
}

.signup-form button,
.success-section button {
  width: 100%;
  padding: 1.125rem;
  background-color: var(--slate-800);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  transition: background-color 180ms ease-in, box-shadow 180ms ease-in;
}

.signup-form button:hover,
.success-section button:hover,
.signup-form button:focus,
.success-section button:focus,
.signup-form button:active,
.success-section button:active {
  background-color: var(--red-400);
  box-shadow: 0px 10px 10px 0px rgba(254, 202, 202, 1);
}

.success-section {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
}

.success-content {
  flex: 1 1 100%;
  margin: 9rem 0 0;
}

.success-section img {
  width: 4rem;
  height: 4rem;
}

.success-section h2 {
  margin: 2.4rem 0 1.25rem;
}

.success-section span {
  font-weight: 700;
}

@media (min-width: 640px) {
  .signup-section {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  body {
    justify-content: center;
  }

  .success-section {
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 2.5rem 3rem;
  }

  .success-content {
    margin: 0;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 1rem;
  }

  .signup-section {
    max-width: 924px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 2rem;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .illustration {
    order: 2;
  }

  .illustration img {
    max-height: 576px;
    border-radius: 1rem;
  }

  .form-content {
    padding: 0;
    max-width: 375px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-content h1 {
    font-size: 3.4rem;
  }

  .success-section {
    border-radius: 2rem;
  }
}

/* smooth transition effects */
.wrapper {
  position: relative;
}

.success-section {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: transform ease-in 450ms, opacity ease-in 450ms;
}

.swipe-fwd .signup-section {
  transform: translateX(-100%) rotate(-90deg);
  transition: transform ease-in 350ms, opacity ease-in 350ms;
  opacity: 0;
}

.swipe-fwd .success-section {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 0;
}

.swipe-bwd .signup-section {
  transform: translateX(0%) rotate(0deg);
  transition: transform ease-in 350ms, opacity ease-in 350ms;
  opacity: 1;
}

.success-section,
.swipe-bwd .success-section {
  transform: translate(-50%, -1000%);
  opacity: 0;
}

/* footer section */
footer {
  font-size: 14px;
  text-align: center;
  padding: 1.25rem 0;
  color: var(--white);
  opacity: 95%;
}

footer a {
  color: var(--slate-400);
}
